$blue: #264653;
$orange: #F6BD60;
$white: #F7FFF7;
$teal: #53928e;
$red: #ec5766;

html{
    font-family: 'Roboto', sans-serif;
}

body{
    overflow: hidden;
    background: linear-gradient(to right, $orange 0%, $orange 50%,$blue 50%,$blue 100%); 

    .container{
        position: relative;
        height: 200vh;
    }

    a:link, a:hover, a:visited, a:active{
        text-decoration: none;
    }

    .leftblock{
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
    }

    .rightblock{
        position: relative;
        width: 100vw;
        height: 100vh;
        float: left;
        clear: both;
    }
}

.social{
    position: absolute;
    width: 100vw;
    bottom: 5vh;
    right: 5vh;

    a{
        float: right;
        margin-left: 5%;
    }

    svg{
        width: auto;
        height: 2vh;

        path{
            transition: 600ms;
        }
    }

    svg:hover path{
        fill: $orange;
    }
}

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#landing{
    background-color: $orange;
    
    #logo{
        position: absolute;
        height: 50px;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;

        .a{
            fill: $blue;
        }
        .b{
            fill: $blue;
        }
    }

    #menu{
        position: absolute;
        z-index: 1;
        width: 100%;
        top: auto;
        left: 0;
        bottom: 105vh;
        margin-top: 5%;

        a{
            font-size: 3vh;
            line-height: 4vh;
            color: $blue;
            font-weight: bold;
            margin: 5% 0;
            float: left;
            clear: both;
            width: 100%;
            text-align: center;

            .underline{
                height: 2px;
                width: 0;
                float: left;
                clear: left;
                background-color: $blue;
                transition: 300ms;
            }
        }

        a:hover>.underline{
            width: 102%;
        }
    }
    
    .leftblock{
        z-index: 0;
        background-color: $orange;
        width: 100%;
        height: 100vh;
        
        #portrait{
            width: 32vh;
            height: 32vh;
            border-radius: 50%;
            border: 5px solid $blue;
            margin: 25vh auto 0;
            background-size: cover;
            background-position: center;
            background-image: url("../graphics/mescaled.jpg");
        }
    }
    
    .rightblock{
        background-color: $blue;
        z-index: 0;

        #profiletext{
            position: absolute;
            height: 33vh;
            top: 50%;
            left: 50%;
            right: 0;
            bottom: 0;
            margin: 0;
            transform: translate(-50%, -50%);
            width: 80%;

            .emcolour{
                color: $white;
            }

            .emweight{
                font-weight: 700;
            }
            
            h1{
                font-weight: 900;
                color: $orange;
                font-size: 3vh;
                margin-bottom: 2vh;
            }
            p{
                font-family: 'Roboto Condensed', sans-serif;
                color: $orange;
                font-size: 2vh;
                font-weight: 500;
                line-height: 150%;
            }
        }
    }

    #foldicon{
        display: none;
    }
}

#projects{
    #popup{
        display: none;
    }
    
    .leftblock{
        background: $blue;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-right: 4px solid $orange;
        transition: background-color 800ms cubic-bezier(.02, .01, .47, 1);
        width: 100vw;
        height: 100vh;
        float: left;
        clear: both;

        .activegrouplink{
            font-size: 3.5vh;
        }
        
        p{
            margin-top: 16vh;
            transition: color 800ms cubic-bezier(.02, .01, .47, 1);    
            text-transform: uppercase;
            color: $orange;
            font-size: 2.5vh;
            font-weight: 900;
            text-align: center;
            line-height: 4.7vh;
            
            span{
                font-size: 2.5vh;
            }
            
            a:link, a:hover, a:visited, a:active{
                text-decoration: underline;
                color: $white;
                transition: font-size 300ms;
            }
        }
        
        #projectselection{
            position: relative; 
            margin-top: 1.5vh;
            width: 100%;
            float: left;
            left: 0;
            
            .projectgroup{
                width: 100%;
                float: left;
                margin: 0 auto;

                ul{
                    width: 100%;
                    text-align: center;

                    font-size: 2.7vh;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: 500;
                    margin: 7vh auto;
                    width: 100%;
                    
                    li{
                        line-height: 250%;
                        width: 100%;
                        
                        a:link, a:hover, a:visited, a:active{
                            text-decoration: none;
                            color: $orange;
                            width: 100%;
                            text-align: center;
                            float: left;
                        }

                        .underline{
                            width: 0px;
                            height: 4px;
                            background-color: $orange;
                            transition: ease 600ms;
                            margin: -15px 0 15px;
                            clear: both;
                            float: left;
                            
                        }
                    }

                    .activeprojectlink>.underline{
                        width: 100vw;
                    }

                    li:not(.activeprojectlink):hover>.underline{
                        width: 100%;
                    }
                }

            }
            #personalmenu{
                display: none;
                a{
                    color: $orange;
                    clear: both;
                    float: inherit;
                }

                .underline{
                    background-color: $orange;
                    clear: both;
                    float: inherit;
                }
            }
        }
    }
    
    .rightblock{
        background-color: $white;
        position: relative;
        right: 0;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        float: left;
        clear: both;
        
        .project{
            display: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;

            .description{
                position: absolute;
                left: 0;
                bottom: 5%;
                width: 100%;

                h1{
                    font-size: 2.7vh;
                    color: $white;
                    font-weight: 700;
                    text-transform: uppercase;
                    position: relative;
                    margin-left: 5%;
                    margin-bottom: 1.6vh;
                    float: left;
                }

                .tagright:link, .tagright:visited, .tagright:active{
                    margin-right: 5%;
                    margin-left: 0;
                    border-bottom: 1px solid $white;
                    padding-bottom: 4px;
                    padding-left: 16px;
                    color: $white;
                    transition: font-size 300ms;
                    font-size: 1.5vh;
                    font-weight: 300;
                    float: right;
                    transition: 400ms;
                }

                .tagright:hover{
                    padding-left: 45px;
                }

                .constructionlink{
                    opacity: 0.3;
                }

                p{
                    position: relative;
                    font-size: 1.6vh;
                    color: $white;
                    font-weight: 300;
                    line-height: 1.6vh*1.5;
                    margin: 0 5%;
                    text-align: justify;
                    display: inline-block;

                    a:link, a:visited, a:active{
                        color: $white;
                        text-decoration: underline;
                        font-weight: 500;
                    }
                }

                em{
                    font-weight: 500;
                }

                .descriptiontext{
                    float: left;
                    clear: both;
                }

                .tagleft{
                    float: left;
                    clear: left;
                    font-weight: 500;
                    margin: 3vh 5% 0;
                }

                .tagright{
                    float: right;
                    font-weight: 500;
                    margin: 3vh 5% 0;
                }
            }
        }
        
        .active{
            display: block;
        }
        
        .newActive{
            display: block;
        }
        
        #projectdisplay{
            position: relative;
            width: 100vw;
            height: 100vh;
            float: left;
            clear: both;
            overflow: hidden;
            
            .projectgroupleft{
                background-color: #9e783a;
            }

            .projectgroupright{
                background-color: #264653;
            }

            .projectgroup{
                position: relative;
                width: 100vw;
                height: 100vh;
                float: left;
                clear: both;
                
                img{
                    transform: scale(1.1);
                    display: block;
                    filter: blur(2px);
                    opacity: 0.1;
                    height: 100%;
                    object-fit: cover;
                    min-width: 100%;
                    margin: 0 auto;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }    
            
            }
            
            #schoolprojects{
                display: block;
            
                img{
                    opacity: 0.3;
                }
                
                #MED10{
                    img{
                        height: 100vh;
                    }
                }
            }

            #personalprojects{
                display: none;

                #website{
                    img{
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}

#contact{
    background-color: $white;
    position: relative;
    height: 100vh;

    #contactcontainer{
        position: absolute;
        width: 80%;
        // height: 70%;
        background: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2%;
        color: $blue;
        font-size: 1.6vh;

        h1{
            width: 100%;
            text-align: center;
            font-size: 2.4vh;
            margin-bottom: 10vh;
        }

        input{
            border: none;
            background: none;
            border-bottom: 2px solid $blue;
            float: left;
            clear: both;
            margin: 0.8vh 0 5vh;
            height: 2.4vh;
            color: $blue;
            padding: 0.5vh;
            font-size: 1.6vh;
            box-sizing: border-box;
        }

        ::placeholder{
            font-size: 1.6vh;
        }

        input::placeholder{
            // line-height: 100px;
            color: #26465344;
        }

        .two-clm{
            float: left;
            width: 100%;
            height: 100%;
        }

        .one-clm{
            width: 50%;
            height: 100%;
            float: left;
        }

        label{
            float: left;
            clear: both;
        }

        #name{
            clear: left;
            width: 90%;
        }

        #mail{
            width: 100%;
        }

        #subject{
            width: 100%;
        }

        #message{
            float: left;
            clear: both;
            width: 100%;
            resize: none;
            outline: none;
            background: none;
            border: 2px solid $blue;
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px;
            color: $blue;
            font-size: 1.6vh;
            box-sizing: border-box;
            height: 20vh;
            background: $white;
        }
        
        textarea::placeholder{
            color: #26465344;
        }

        #contactsubmit{
            width: 100px;
            height: 20px;
            float: left;
            margin: 20px 0;
            text-decoration: underline;
        }
        
        a:link, a:hover, a:visited, a:active{
            text-decoration: none;
            cursor: pointer;
        }

        .status{
            width: 60%;
            height: 20px;
            float: right;
            margin: 20px 0;
            text-align: right;
            opacity: 0.5;
            color: $red;
        }
    }

    .social{
        a{
            margin-left: 5%;
        }
    }

    #toplink{
        position: absolute;
        left: 5%;
        bottom: 5.5vh;
        margin: auto;
        width: 200px;
        opacity: 0.4;
        text-align: center;
        font-size: 1.5vh;
        z-index: 1;
    }

    #toplink:link, #toplink:hover, #toplink:visited, #toplink:active{
        text-decoration: underline;
        cursor: pointer;
        color: $blue;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $blue;
  box-shadow: 0 0 0px 1000px $white inset;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
}

.circle{
    position: absolute;
    background: #F7FFF705;
    border-radius: 100%;
}

.c-dark{
    // background: transparent;
    background:#f2faf3;
    // border: 5px solid #26465306;
}

#construction{
    position: relative;
    background: $blue;
    color: $orange;
    font-size: 3vh;
    text-align: center;
    line-height: 3vh * 1.5;
    height: 100vh;

    #message{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    a:link, a:hover, a:visited, a:active{
        text-decoration: underline;
        cursor: pointer;
        color: $white;
    }
}